CSV

In [13]:
import pandas as pd

data=[
	{'id':'10001','name':'Mike','age':20},
	{'id':'10002','name':'Bob','age':22},
]
df=pd.DataFrame(data)
df.to_csv('data.csv',index=False)

In [14]:
import csv

with open('data.csv','a',encoding='utf-8',newline='') as csvfile:
	fieldnames=['id','name','age']
	writer=csv.DictWriter(csvfile,fieldnames=fieldnames)
	
	writer.writerow({'id':'10004','name':'王伟','age':20})

In [15]:
import csv
with open('data.csv','r',encoding='utf-8') as csvfile:
    reader=csv.reader(csvfile)
    for row in reader:
        print(row)

['id', 'name', 'age']
['10001', 'Mike', '20']
['10002', 'Bob', '22']
['10004', '王伟', '20']

In [3]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df)

      id  name  age
0  10001  Mike   20
1  10002   Bob   22
2  10004    王伟   20

In [7]:
import pandas as pd
df=pd.read_csv('data.csv')
data=df.values.tolist()
print(data)

[[10001, 'Mike', 20], [10002, 'Bob', 22], [10004, '王伟', 20]]

In [2]:
import pandas as pd
df=pd.read_csv('data.csv')
for index,row in df.iterrows():
    print(row.tolist())

[10001, 'Mike', 20]
[10002, 'Bob', 22]
[10004, '王伟', 20]

MySQL

In [6]:
import pymysql

db=pymysql.connect(host='localhost',user='root',password='Sc147258',port=3306)
cursor=db.cursor()
cursor.execute('SELECT VERSION()')
data=cursor.fetchone()
print('Database version:',data)
cursor.execute('CREATE DATABASE spiders3 DEFAULT CHARACTER SET utf8mb4')
db.close()

Database version: ('8.0.30',)

In [37]:
db=pymysql.connect(host='localhost',user='root',password='Sc147258',port=3306,db='spiders3')
cursor=db.cursor()
sql='CREATE TABLE IF NOT EXISTS students (id VARCHAR(255) NOT NULL, name VARCHAR(255) NOT NULL,age INT NOT NULL,PRIMARY KEY (id))'
cursor.execute(sql)
db.close()

In [42]:
import pymysql

id='20120001'
user='Bob'
age=20

db=pymysql.connect(host='localhost',user='root',password='Sc147258',port=3306,db='spiders3')
cursor=db.cursor()
sql='INSERT INTO students(id,name,age) values(%s,%s,%s)'
try:
    cursor.execute(sql,(id,user,age))
    db.commit()
except:
    db.rollback()
db.close()

In [45]:
import pymysql
db=pymysql.connect(host='localhost',user='root',password='Sc147258',port=3306,db='spiders3')
cursor=db.cursor()
data={
    'id':'20140002',
    'name':'Bob',
    'age':21
}
table='students'
keys=','.join(data.keys())
values=','.join(['%s']*len(data))

sql=' INSERT INTO {table}({keys}) VALUES ({values})'.format(table=table,keys=keys,values=values)
try:
  if cursor.execute(sql,tuple(data.values())):
        print('Successful')
        db.commit()
except:
    print('Failed')
    db.rollback()
db.close()

Successful

In [24]:
import pymysql
db=pymysql.connect(host='localhost',user='root',password='Sc147258',port=3306,db='spiders3')
cursor=db.cursor()
sql='UPDATE students SET age=%s WHERE name=%s'
try:
    cursor.execute(sql,(25,'Bob'))
    db.commit()
except:
    db.rollback()
db.close

In [50]:
import pymysql
db=pymysql.connect(host='localhost',user='root',password='Sc147258',port=3306,db='spiders3')
cursor=db.cursor()
data={
    'id':'20130001',
    'name':'Bob',
    'age':21
}
table='students'
keys=','.join(data.keys())
values=','.join(['%s']*len(data))

sql=' INSERT INTO {table}({keys}) VALUES ({values}) ON DUPLICATE KEY UPDATE '.format(table=table,keys=keys,values=values)
update=','.join(["{key}=%s".format(key=key) for key in data])
sql+= update
try:
    if cursor.execute(sql,tuple(data.values())*2):
        print('Successful')
        db.commit()
except:
    print('Failed')
    db.rollback()
db.close()

MySQL 删除

In [34]:
import pymysql
db=pymysql.connect(host='localhost',user='root',password='Sc147258',port=3306,db='spiders3')
cursor=db.cursor()
table='students'
condition='age>20'

sql='DELETE FROM {table} WHERE {condition}'.format(table=table,condition=condition)
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()
db.close()

MySQL 查询

In [2]:
import pymysql
db=pymysql.connect(host='localhost',user='root',password='Sc147258',port=3306,db='spiders3')
cursor=db.cursor()
sql='SELECT * FROM students WHERE age>=20'

try:
        cursor.execute(sql)
        print('Count:',cursor.rowcount)
        row=cursor.fetchone()
        while row:
                print('Row:',row)
                row=cursor.fetchone()
except:
        print('Error')

Count: 3
Row: ('20120001', 'Bob', 20)
Row: ('20130001', 'Bob', 21)
Row: ('20140002', 'Bob', 21)

In [3]:
import pymysql
db=pymysql.connect(host='localhost',user='root',password='Sc147258',port=3306,db='spiders3')
cursor=db.cursor()
sql='SELECT * FROM students WHERE age>=20'

try:
    cursor.execute(sql)
    print('Count:',cursor.rowcount)
    one=cursor.fetchone()
    print('One',one)
    results=cursor.fetchall()
    print('Results',results)
    print('Results Type',type(results))
    for row in results:
        print(row)
except:
    print('Error')

Count: 3
One ('20120001', 'Bob', 20)
Results (('20130001', 'Bob', 21), ('20140002', 'Bob', 21))
Results Type <class 'tuple'>
('20130001', 'Bob', 21)
('20140002', 'Bob', 21)

推荐用while加fetchone来获取所有数据

In [1]:
import pymysql
db=pymysql.connect(host='localhost',user='root',password='Sc147258',port=3306,db='spiders3')
cursor=db.cursor()
sql='SELECT * FROM students WHERE age>=20'

try:
    cursor.execute(sql)
    print('Count:',cursor.rowcount)
    row=cursor.fetchone()
    while row:
        print('Row:',row)
        row=cursor.fetchone()   
except:
    print('Error')

Count: 3
Row: ('20120001', 'Bob', 20)
Row: ('20130001', 'Bob', 21)
Row: ('20140002', 'Bob', 21)

## MongoDB

In [2]:
import pymongo
client=pymongo.MongoClient(host='localhost',port=27017)
#client=pymongo.MongoClient("mongodb://localhost:27017")
#test数据库
db=client.test
#db=client['test']
#指定集合
collection=db.students
#collection=db['students']

插入数据

In [4]:
student = {
    'id': '20170101',
    'name': 'Jordan',
    'age': 20,
    'gender': 'male'
}
result = collection.insert_one(student)
print(result)
print(result.inserted_id)

<pymongo.results.InsertOneResult object at 0x00000274D98C2B00>

In [5]:
student1 = {
    'id': '20170101',
    'name': 'Jordan',
    'age': 20,
    'gender': 'male'
}

student2 = {
    'id': '20170202',
    'name': 'Mike',
    'age': 21,
    'gender': 'male'
}
result = collection.insert_many([student1, student2])
print(result)
print(result.inserted_ids)

<pymongo.results.InsertManyResult object at 0x00000274DB3C8340>

####  查询
find_one() 查询得到的是单个结果，find() 则返回一个生成器对象

In [6]:
result = collection.find_one({'name': 'Mike'})
print(type(result))
print(result)

<class 'dict'>
{'_id': ObjectId('63d6393c0111e37c59b1edd5'), 'id': '20170202', 'name': 'Mike', 'age': 21, 'gender': 'male'}

In [12]:
from bson.objectid import ObjectId

result = collection.find_one({'_id': ObjectId('63d6387e0111e37c59b1edd3')})
print(result)

{'_id': ObjectId('63d6387e0111e37c59b1edd3'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': 'male'}

In [13]:
results = collection.find({'age': 20})
print(results)
for result in results:
    print(result)

<pymongo.cursor.Cursor object at 0x00000274DBEA39A0>
{'_id': ObjectId('63d6387e0111e37c59b1edd3'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': 'male'}
{'_id': ObjectId('63d6393c0111e37c59b1edd4'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': 'male'}

大于20岁

In [18]:
results = collection.find({'age': {'$gt': 20}})
print(results)

<pymongo.cursor.Cursor object at 0x00000274DBEA3C10>

表 5-3　比较符号

|  符　　号 | 含　　义    | 示　　例                        |
| ---------- | ------------ | -------------------------- |
|  $lt          | 小于           | {'age': {'$lt': 20}}            |
|  $gt         | 大于           | {'age': {'$gt': 20}}           |
|  $lte        | 小于等于    | {'age': {'$lte': 20}}          |
|  $gte       | 大于等于    | {'age': {'$gte': 20}}         |
|  $ne        | 不等于        | {'age': {'$ne': 20}}          |
|  $in         | 在范围内    | {'age': {'$in': [20, 23]}}   |
|  $nin       | 不在范围内 | {'age': {'$nin': [20, 23]}} |

正则匹配查询

In [20]:
results = collection.find_one({'name': {'$regex': '^M.*'}})
print(results)

{'_id': ObjectId('63d6393c0111e37c59b1edd5'), 'id': '20170202', 'name': 'Mike', 'age': 21, 'gender': 'male'}

这里使用 $regex 来指定正则匹配，^M.* 代表以 M 开头的正则表达式。

这里将一些功能符号再归类为表 5-4。

表 5-4　功能符号

|  符　　号 | 含　　义           | 示　　例                                                                 | 示例含义                                      |
| ---------- | ----------------- | ------------------------------------------------------ | ------------------------------------ |
|  $regex   | 匹配正则表达式 | {'name': {'$regex': '^M.*'}}                                     | name 以 M 开头                              |
|  $exists    | 属性是否存在    | {'name': {'$exists': True}}                                        | name 属性存在                             |
|  $type     | 类型判断           | {'age': {'$type': 'int'}}                                              | age 的类型为 int                            |
|  $mod     | 数字模操作        | {'age': {'$mod': [5, 0]}}                                            | 年龄模 5 余 0                                   |
|  $text      | 文本查询           | {'$text': {'$search': 'Mike'}}                                     | text 类型的属性中包含 Mike 字符串 |
|  $where   | 高级条件查询    | {'$where': 'obj.fans_count == obj.follows_count'} | 自身粉丝数等于关注数                  |

关于这些操作的更详细用法，可以在 MongoDB 官方文档找到：
[https://docs.mongodb.com/manual/reference/operator/query/](https://docs.mongodb.com/manual/reference/operator/query/)。

#### 7. 计数

In [24]:
count = collection.estimated_document_count()
print(count)
count = collection.count_documents({'age': 20})
print(count)

3
2

#### 8. 排序

In [25]:
results = collection.find().sort('name', pymongo.ASCENDING)
print([result['name'] for result in results])

['Jordan', 'Jordan', 'Mike']

#### 9. 偏移

In [26]:
results = collection.find().sort('name', pymongo.ASCENDING).skip(2)
print([result['name'] for result in results])

['Mike']

用 limit() 方法指定要取的结果个数

In [28]:
results = collection.find().sort('name', pymongo.ASCENDING).skip(1).limit(1)
print([result['name'] for result in results])

['Jordan']

# 值得注意的是，在数据库数量非常庞大的时候，如千万、亿级别，最好不要使用大的偏移量来查询数据，因为这样很可能导致内存溢出。此时可用_id来查询。

In [29]:
from bson.objectid import ObjectId
collection.find({'_id': {'$gt': ObjectId('593278c815c2602678bb2b8d')}})

#### 10. 更新

In [39]:
condition = {'name': 'Mike'}
student = collection.find_one(condition)
print(student)
student['age'] = 25
result = collection.update_one(condition,{'$set':student})
print(result)
print(result.matched_count, result.modified_count)

{'_id': ObjectId('63d6393c0111e37c59b1edd5'), 'id': '20170202', 'name': 'Mike', 'age': 25, 'gender': 'male'}
<pymongo.results.UpdateResult object at 0x00000274DC6BC820>
1 0

In [40]:
condition = {'age': {'$gt': 20}}
result = collection.update_many(condition, {'$inc': {'age': 1}})
print(result)
print(result.matched_count, result.modified_count)

<pymongo.results.UpdateResult object at 0x00000274DB48A710>
1 1

#### 11. 删除

In [ ]:
result = collection.delete_one({'name': 'Kevin'})
print(result)
print(result.deleted_count)
result = collection.delete_many({'age': {'$lt': 25}})
print(result.deleted_count)

#### 12. 其他操作
另外，PyMongo 还提供了一些组合方法，如 find_one_and_delete()、find_one_and_replace() 和 find_one_and_update()，它们是查找后删除、替换和更新操作，其用法与上述方法基本一致。

另外，还可以对索引进行操作，相关方法有 create_index()、create_indexes() 和 drop_index() 等。

关于 PyMongo 的详细用法，可以参见官方文档：[http://api.mongodb.com/python/current/api/pymongo/collection.html](http://api.mongodb.com/python/current/api/pymongo/collection.html)。

另外，还有对数据库和集合本身等的一些操作，这里不再一一讲解，可以参见官方文档：[http://api.mongodb.com/python/current/api/pymongo/](http://api.mongodb.com/python/current/api/pymongo/)。